doctype html
html(lang="en")
  head
    title Storyboard
    meta(name="description", content="Online story manager")
    link(rel="stylesheet", href="/assets/css/app.#{ author ? author.theme : 'spacelab' }.css")
    link(rel="icon", href="/assets/img/favicon.jpg")
    script.
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          var txt = JSON.parse(xhr.responseText);
          if (xhr.status === 200) {
            window.author = txt;
          } else {
            window.author = null;
            window.authorError = txt;
          }
        }
      };
      xhr.open('GET', '/api/author?include=story&include=world')
      xhr.send();
    base(href="/")
  body(ng-init="isDev=#{isDev}", class={ 'sidebar-padding': url.indexOf('/dashboard') > -1} ng-class="{ 'sidebar-padding sidebar-on': state.includes('dashboard') && !sidebarHidden, 'sidebar-padding sidebar-off': sidebarHidden }")
    div(ng-include="'header.html'", ng-controller="Header")
    .content(ng-class="{ container: !state.includes('dashboard'), 'container-fluid': state.includes('dashboard') }")
      block content
    script(src="/assets/js/app.js")
