#dashboard-menu.navmenu.navmenu-default.navmenu-fixed-left.sidebar
  ul.nav.navmenu-nav
    li.dropdown(ui-sref-active="active")
      a.dropdown-toggle(href="#", data-toggle="dropdown")
        | Worlds
        b.caret
      ul.dropdown-menu.navmenu-nav
        li(ui-sref-active="active")
          a(href="#", ui-sref="dashboard.world.summary({ slug: '~' })") New
        li(ui-sref-active="active", ng-repeat="world in author.worlds")
          a(href="#", ui-sref="dashboard.world.summary({ slug: world.slug })") {{ world.name }}
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.characters") Stories
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.magic") Magic
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.events") Events
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.items") Items
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.locations") Locations
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.ideas") Ideas
#dashboard
  div(ui-view="")
    .row
      .col-xs-12
        .entity.pull-left(ng-repeat="entity in entities", ng-controller="World")
          .card(ng-class="{ flipped: flipped }")
            .panel.panel-default.front
              .panel-heading
                span.h3.panel-title {{ entity.name }}
                button.close(type="button", ng-click="flipped = true;") &times;
              .panel-body
                p Foo bar baz
            .panel.panel-default.back
              .panel-heading
                h3.panel-title Delete this entity?
              .panel-body
                .row
                  .col-xs-12.text-center
                    span This cannot be undone.
                    br
                    span.text-danger Are you sure you want to delete this entity?
                .row.mtm
                  .col-xs-6
                    button.btn.btn-danger.btn-block(ng-click="remove(entity);") Yes
                  .col-xs-6
                    button.btn.btn-default.btn-block(ng-click="flipped = false;") No
