#dashboard-menu.navmenu.navmenu-default.navmenu-fixed-left.sidebar
  ul.nav.navmenu-nav
    li.dropdown(ui-sref-active="active")
      a.dropdown-toggle(href="#", data-toggle="dropdown")
        | Worlds
        b.caret
      ul.dropdown-menu.navmenu-nav
        li(ui-sref-active="active")
          a(href="#", ui-sref="dashboard.world.summary") New
        li(ui-sref-active="active", ng-repeat="world in author.worlds")
          a(href="#", ui-sref="dashboard.world.summary({ slug: world.slug })") {{ world.name }}
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.characters") Stories
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.magic") Magic
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.events") Events
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.items") Items
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.locations") Locations
    li(ui-sref-active="active")
      a(href="#", ui-sref="world.ideas") Ideas
#dashboard
  div(ui-view="")
