.row
  .col-xs-12
    ul.nav.nav-pills
      li(ui-sref-active="active")
        a(href="#", ui-sref="member.profile.personal") Personal
      li(ui-sref-active="active")
        a(href="#", ui-sref="member.profile.appearance") Appearance
.row
  .col-xs-12
    hr.text-muted
.row
  .col-xs-12
    div(ui-view="")
