.fade-in {
  opacity: 1;
  &.ng-hide-remove {
    transition: all 1s ease-out;
  }
  &.ng-hide-add {
    transition: all 0s;
  }
  &.ng-hide {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  &.ng-hide-remove {
    transition: all 0s;
  }
  &.ng-hide-add {
    transition: all 1s ease-out;
  }
  &.ng-hide {
    opacity: 0;
  }
}

.sidebar-padding {
  padding-left: 250px;
  transition: all 0.5s ease;
  &.sidebar-off {
    padding-left: 0;
    & .navmenu {
      width: 0;
      transition: all 0.5s ease;
    }
  }
  &.sidebar-on {
    padding-left: 250px;
    & .navmenu {
      width: 250px;
      transition: all 0.5s ease;
    }
  }
}
