.row
  .col-xs-12
    h4.text-center Fill out your world by adding details here
    hr
.row
  .col-xs-12
    form.form-horizontal(name="worldDetailsForm", novalidate, blur-track="true")
      .form-group(ng-class="{ 'has-error': !edit.name }")
        label.col-xs-2.control-label(for="name") Name
        .col-xs-10
          input#name.form-control(type="text", name="name", ng-model="edit.name")
          div.alert.alert-danger.mtm(ng-show="!edit.name && worldDetailsForm.name.$blurred") Name cannot be blank
      .form-group
        label.col-xs-2.control-label(for="name") Description
        .col-xs-10
          textarea#description.form-control(type="text", rows="4", name="name", ng-model="edit.description", style="resize: none")
      .col-xs-10.col-sm-offset-2(error="error", dismissed="dismissed", ng-show="error && !dismissed")
      .form-group
        .col-xs-10.col-sm-offset-2
          button.btn.btn-primary(type="submit", ng-click="update()", ng-disabled="!edit.name || edit | equals : world") Update
          button.btn.btn-default(type="button", ng-click="reset()", ng-disabled="edit | equals : world") Reset
