.row
  .col-xs-12
    h4.text-center What is your world called?
.row.mtl
  .col-xs-11
    form.form-horizontal(name="worldSummaryForm", novalidate, blur-track="true")
      .form-group
        label.col-xs-2.control-label(for="name") Name
        .col-xs-8
          input#name.form-control(type="text", name="name", ng-model="edit.name", autofocus, ng-keyup="edit.slug = (edit.name | slugify)")
      .form-group
        label.col-xs-2.control-label(for="slug") Slug
        .col-xs-8
          input#slug.form-control(type="text", name="slug", ng-model="edit.slug")
        .col-xs-2(ng-include="'components/slug-info.html'", ng-controller="Slug")
      .form-group
        label.col-xs-2.control-label(for="description") Description
        .col-xs-8
          textarea#description.form-control(type="text", name="description", ng-model="edit.description", rows="4", style="resize: none;")
      .col-xs-8.col-sm-offset-2(error="error", dismissed="dismissed", ng-show="error && !dismissed")
      .form-group
        .col-xs-8.col-sm-offset-2.btn-row
          button.btn.btn-primary(type="submit", ng-click="isNew ? save() : update()", ng-disabled="!edit.name || edit | equals : world")
            span(ng-show="world.slug") Update
            span(ng-show="!world.slug") Save
          button.btn.btn-default(type="button", ng-click="reset()", ng-disabled="edit | equals : world") Reset
